include ./partials/head.pug

block content
    div(id="search-results" class="container-fluid bookcase")
        if (results.length > 0)
            each result in results
                div(class="container-fluid col-md-3")
                    form(id="request-book" method="POST")
                        input(class="hidden" name="bookID" value=result._id)
                        button(type="submit" class="btn src-result" id=result.title formaction="/requestbook")
                            img(src=result.imgUrl class="thumbnail")
                            h4 #{result.title}
                            h4 #{result.author}
        else
            h3 There aren't any books available yet. Add some books to get things started!