include ./partials/head.pug

block content
    div(id="contents")
        div(class="container-fluid text-center") 
            h1 Swap and Read
            h4 Swap...Read...Repeat...
    div(class="jumbotron text-center")
        if loginMessage
            h3 #{loginMessage}
        div(class="container-fluid" id="login-form")
            form(id="login" method="POST")
                input(
                    type="text"
                    class="form-control answer-field"
                    name="username"
                    placeholder="Username"
                    required
                    autofocus
                )
                
                input(
                    type="password"
                    class="form-control answer-field"
                    name="password"
                    placeholder="Password"
                    required
                )
                div(class="row")
                    input(class="btn btn-info" type="submit" value="Log in" formaction="/login")
                    span    or    
                    button(class="btn btn-warning" type="submit" formaction="/signup") Sign up
    
