include ./partials/head.pug

block content
    if profileMessage
        div(class="alert alert-info") #{profileMessage}
    div(id="welcome" class="container-fluid")
        h2 Welcome #{user.username}
        if user.profile.fullName && user.profile.location
            h6(class="text-center")
                strong #{user.profile.fullName} 
                span from 
                strong #{user.profile.location}
        button(class="btn btn-info block" onclick="document.getElementById('welcome').classList.add('hidden');document.getElementById('profile-form').classList.remove('hidden');") Edit Profile
    div(id="profile-form" class="container-fluid hidden")
        h1 Edit your profile
        form(id="edit-profile" method="POST" onsubmit="document.getElementById('welcome').classList.remove('hidden');document.getElementById('profile-form').classList.add('hidden');")
            div(class="input-group simple")
                label(class="noborder" for="name") Your Name
                input(name="fullName" type="text" id="name" placeholder="Name Surname" value=user.profile.fullName active)
            div(class="input-group simple")
                label(class="noborder" for="location") Your Location
                input(name="location" type="text" id="location" placeholder="Town, Country/State" value=user.profile.location)
            input(type="submit" class="btn btn-success" formaction="/editProfile" value="Submit")       
    h1 Your bookcase
    div(class="container-fluid bookcase")
        if books
            each book in books
                div(class="container-fluid book-display")
                    form(class=" book-form remove-book" method="POST")
                        input(class="hidden" name="bookID" value=book._id)
                        button(class="btn src-result")
                            img(src=book.imgUrl class="thumbnail")
                            div(class="book-title") #{book.title}
                            h5 #{book.author}
                        button(type="submit" class="btn src-result overlay" formaction="/removebook")
                            span(class="glyphicon glyphicon-minus")
                            div Remove
                            //- div #{book.title}
                            div from bookcase
        else
            h5 You don't have any books yet.
            h5 Why don't you add some using the search form below or ask other users for their books?
            
            

    h3 Find books and start swapping! 
    form(id="search-form" class="input-group" method="POST")
        input(type="text" id="book-src" name="title" class="form-control" placeholder="Enter book title" required)
        button(type="submit" class="btn btn-src input-group-addon" formaction="/search")
            span(class="glyphicon glyphicon-search")
    h5 Powered by 
        a(href="http://www.goodeads.com" target="_blank") goodreads
    if searchTitle
        h2 Top results for "#{searchTitle}"
        div(id="search-results" class="container-fluid bookcase")
            if (searchResults.length > 0)
                each result in searchResults
                    div(class="container-fluid book-display")
                        form(class="book-form add-book" method="POST")
                            input(class="hidden" name="book" value=result)
                            button(class="btn src-result book-display")
                                img(src=result.imgUrl class="thumbnail")
                                div(class="book-title") #{result.title}
                                h5 #{result.author}
                            button(type="submit" class="btn src-result overlay" formaction="/addbook")
                                span(class="glyphicon glyphicon-plus")
                                div Add
                                //- div #{result.title}
                                div to bookcase