body
    h2 #{title}
    div(id="search-results" class="container-fluid result-container")
        each result in results
            button(class="btn src-result book-display" id=result.title onclick="addToCollection(this.id)")
                img(src=result.imgUrl class="thumbnail")
                h4(class="book-title") #{result.title}
                h4 #{result.author}